html, body {
  margin: 0; padding: 0;
}
.animatedbkg {
  background: gray url(https://wallpaperaccess.com/full/2789327.jpg) repeat 0 0;
  width: 100%;
  margin: 0;
  text-align: center;
  height: 600px;
  width: 1080px;
  box-sizing: border-box;
  -webkit-animation: slide 90s linear infinite;
}

.hero-bkg-animated h1 {
  font-family: sans-serif;
}

@-webkit-keyframes slide {
    from { background-position: 500px 0; }
    to { background-position: 1px 0; }
}
